<div> 
        <div class="row cl ">
            <div class="col-md-3 mg">
                <br/>
                <h5>COMPANY</h5>
                <br/>
                <a [routerLink]="['/company']"> About us</a><br><br/>
                <a>Team</a><br><br/>
                <a>Water Daily</a><br/>
                <br/>
            </div>
            <div class="col-md-3 mg">
                <br/>
                <h5>CONTACT</h5><br/>
                <a>Help & Support</a><br><br/>
                <a>Partner With Us</a><br><br/>
            
                <br/>
            </div>
            <div class="col-md-3 mg">
                <br/>
                <h5>LEGAL</h5><br/>
                <a>Terms & Conditions</a><br><br/>
                <a>Offer Terms</a><br><br/>
                <a>Refund & Cancellation</a><br/>
                <br/>
        
            </div>
            
        </div>