
.qq{
    margin-left:60px;
    margin-top:-30px;
    color:skyblue;
    font-size:20px;
}
.im{
margin-top:-10px;
  height:40px;
  width:40px;
  border-radius:50%;

}
.aa{
  margin-left:650px;

}
