<div class="container">
        <h3><b>Offers</b></h3>
        <p>WATER SARIGE  has every incentive to keep customers happy by providing quality water service. To promote customer satisfaction. WATER SARIGE reserves the right to reverse an order, including but not limited to the following:</p>
    <ul>
            <li>Quantity discounts. The more you buy, the more you save.</li>
             <li> Rewards points programs to build a loyal customer base.</li>
             <li>First Time Visitors - Create special offers for those making their first visit to your site.</li>
            
        </ul>
    
    </div>
    