<nav class="navbar navbar-inverse ">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="im" src=" https://t3.ftcdn.net/jpg/02/03/18/52/240_F_203185275_4zvFK5ZwkQDKj9m1wVCr5qONiuD99nK3.jpg">
          <p class="qq"><b> Water Sarige</b></p></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse aa">
        <ul class="nav navbar-nav">
          <li style="margin-top:15px;color: white">watersarigeinfo@gmail.com
            </li>
         
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
