<div class="container">
    <br/>
    <br/>
        <h3><b>Our Team</b></h3>
            <div class="row">
                    <div class="col-md-4">
                        <br/>
                            <img src="https://mail.google.com/mail/u/0?ui=2&ik=25e40e6477&attid=0.1.1&permmsgid=msg-f:1638154785680582266&th=16bbe5192798e67a&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ81aMlKju-58_SDlsFGLLtgraqoynvqklq8MCwNyLivZ93s7xZxr-ZXNeQLZJqXoMFK0dNeJBCu4OmXJrKYj2AsWOj3dIUYRYtWNcD0uja6nwSTWe2jv9p4CWo&disp=emb"  height=260 width=370>
                    
                              </div>
                              <br/>
                    
                    <div class="col-md-8">
        
      
      <p class="rr">
          <br/>
          <br/>
          <br/>
         We are the team of web developers who innovatively designs dynamic websites come up with an idea of Water Sarige to solve the water supply problem in and around the primises of Bengaluru.
         <br/>We truly believe in - <span class="ee">"Things to be done from our fingertips"</span>





            </p>
      
      </div>

</div>  
    </div>
