<div class="container">
        <br/>
        <br/>
            <div class="row">
                    <div class="col-md-8">
                        <h3><b>Water Daily</b></h3>

      <p class="rr">
        <br/>
        <br/>
    
        We are collaborated with the efficient and trustful suppliers where the quality of water is guarenteed.The order can be placed any time and there is no limit of ordering.We ensure that the water we are supplying from our vendors are safe and purified. we are the one who make the customer to believe in <span class="qi">-To the pure, Supplying pure</span>
            </p>
      
      </div>
      <div class="col-md-4">
        <br/>
        <br/>
        <img src="http://glimageurl.golocall.com/golocal-post/image/639168_qbn7_fusionchennai1507874877.jpeg" height=300 width=465 >
        <br/>
        <br/>
          </div>
    
    </div>
    </div>
    