<div class="main aa">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="" id="signup-form" class="signup-form">
                    <h2 class="form-title"></h2>
  
                    <div class="form-group">
                        <input type="text" class="form-input" name="phone" id="email" placeholder="Phone"/>
                    </div>
    
                    
                   <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                      <input type="submit" name="submit" id="submit" class="form-submit" value="Login"/>
                  </div>          
               </form>
                <p class="loginhere">
                    Don't have an account ? <a routerLink='/signup' class="loginhere-link">Signup here</a>
                </p>
            </div>
        </div>
    </section>
  
  </div>
  <app-footer></app-footer>