<div class="container">
    
    <h3><b>Refund Policy</b></h3>
    <p>WATER SARIGE  has every incentive to keep customers happy by providing quality water service. To promote customer satisfaction. WATER SARIGE reserves the right to reverse an order, including but not limited to the following:</p>
<ul>
        <li>If the quality of water is not satisfactory.</li>
         <li> If the order is cancelled due to specific reason.</li>
         <li>If the delivery cannot be done.</li>
        
    </ul>

    
    <h3><b>Cancellation Policy</b> </h3>
    <p>A customer may cancel an order with a recurring billing subscription at any time. A cancellation means that no future payments are charged to the customer's account. The cancellation of a recurring billing product does not generate a refund - it will only stop any future payments.


        
        </p>
</div>
