<div class="container"><br/>
    
    <div class="row">
        <div class="col-md-12">
            <p class="rr">
            <span class="qq"> </span>
        We believe in providing exciting opportunities for our people who will in turn add value to our business. We believe that our people are our greatest assets and that building their capabilities will help us grow our organization. We provide a platform for our people to innovate, accelerate and drive our business with passion and excellence.
        <br/> <br/>
        <span class="oo"><b>  EMPOWERMENT</b></span><br/>
        We empower and inspire our people.
        Leadership is about enabling and empowering people. For us, empowerment forms the basis of our leadership philosophy and we believe in creating a culture that respects and empowers our people.
        <br/>  
        <br/>
        <span class="oo"> <b> INNOVATION</b></span><br/>
        We believe in innovations and continuous improvements.
        We believe that investing in innovation is a long term responsibility to ensure continuous improvement in what we are doing. Innovation forms the heart of Water Sarige's operations, and is the key factor which is revolutionizing the value chain in our business.
        
        <br/><br/> 
        <span class="oo"><b>  LEARNING & GROWTH</b></span><br/>
        We believe in continuous learning.
         our strong values form the very foundation of learning. We constantly help build our employees to meet future challenges. We are dedicated to building a strong pipeline of leaders through seamless learning that will help them deliver extraordinary results.
        <br/>
        <br/>
        <span class="oo"> <b>  DIVERSITY</b></span><br/>
        We believe in diversity of gender, age, culture and recognize that different people bring different perspectives, ideas and knowledge and together are the strength of our organization.
        Come be a part of our team. Explore career opportunities.
        </p>
        </div>
    </div>
</div><br>
<div class="container"  style="border-style:groove;width: 90%">
    <div class="container">
        <form>
    <div class="row register-moredetail bord">
        <h2 class="form-title" style="color:black;">Partner With Us</h2>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 10px;">
                <label>1.Vendor Name <span style="color:red">*</span></label>
                <input type="text" class="form-control cstad-input "
                    id="v_name" placeholder="Your Name"
                    value="" required />
                </div>
            </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 10px;">
                <label>2.Mobile Number <span style="color:red">*</span></label>
                <input type="text" class="form-control cstad-input contact_name"
                    id="contact_num" placeholder="Your Mobile Number"
                    value="" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label>3.E-mail Id <span style="color:red">*</span></label>
                <input type="text" class="form-control cstad-input "
                    id="email" placeholder="Your Email-id"
                    value="" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label>4.Number of Suppliers</label>
                <input type="text" name="number" id="sup-num"  class="form-control cstad-input"
                    placeholder="No of Suppliers"
                    value="" required />
                
            </div>
        </div>
       <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 8px;">
                <label>5.Location</label>
                <input type="text" name="location" id="loc"  class="form-control cstad-input"
                    placeholder="Your Location"
                    value="" required />
                
            </div>
        </div>
    </div>
    <button class="btn btn-primary" style="margin-bottom: 5px;"> Proceed</button>
</form>
</div>
</div><br>