<div style="background-color:black;"> 
        <div class="row cl ">
            <div class="col-md-3 mg">
                <br/>
                <h5>COMPANY</h5>
                <br/>
                <a routerLink="/aboutus"> About us</a><br><br/>
                <a routerLink="/company">Team</a><br><br/>
                <a routerLink="/company">Water Daily</a><br/>
                <br/>
            </div>
            <div class="col-md-3 mg">
                <br/>
                <h5>CONTACT</h5><br/>
                <a routerLink="/contact">Help & Support</a><br><br/>
                <a routerLink="/contact">Partner With Us</a><br><br/>
            
                <br/>
            </div>
            <div class="col-md-3 mg">
                <br/>
                <h5>LEGAL</h5><br/>
                <a routerLink="/legal">Terms & Conditions</a><br><br/>
                <a routerLink="/legal">Offer Terms</a><br><br/>
                <a routerLink="/legal">Refund & Cancellation</a><br/>
                <br/>
        
            </div>
            
        </div>
        <hr>
        
        <br/>
        
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3  style="color:rgb(236, 232, 232);margin-top:-5px;"><img  class="im" src="https://t3.ftcdn.net/jpg/02/03/18/52/240_F_203185275_4zvFK5ZwkQDKj9m1wVCr5qONiuD99nK3.jpg"><b><span class="uu"> Water Sarige</span></b></h3>
            </div>
            <div class="col-md-4">
                <h4 style="color:white;">&copy; 2019 Water Sarige  </h4>
            </div>
            <div class="col-md-3 b">
                <p class="tt">
                <a href="#" class="fa fa-facebook c"></a>
                <a href="#" class="fa fa-twitter c"></a>
                <a href="#" class="fa fa-instagram c"></a>
                </p>
            </div>
        </div>
        